<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>FabrAIc</title>
    <link href="https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Lilita+One&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Quintessential&display=swap" rel="stylesheet" />

    <link rel="stylesheet" href="../static/landing-page.css">
</head>

<body>
    <div class="layout">
        <div class="left">

            <div class="cont_1">
                <div class="box1"></div>
                <div class="box2"></div>
            </div>

            <div class="cont_2">
                <div class="rect1"></div>
                <div class="rect2"></div>
            </div>

            <div class="cont_3">
                <h1>FabrAic</h1>
            </div>

            <div class="cont_4">
                <div class="vertical-line"></div>
                <div class="content">
                    <p>Colors, texture and mood decoded in seconds.</p>
                    <p>Your style companion that curates flawless</p>
                    <p>outfits for every occasion</p>
                </div>
            </div>

            <div class="cont_5">
                <div class="login">
                    <div class="log-box">
                        <p>Login</p>
                    </div>
                </div>
                <div class="register">
                    <div class="reg-box">
                        <p>Register</p>
                    </div>
                </div>
            </div>

        </div>

        <div class="right">
            <p>"Every fabric has a story" </p>
        </div>
        
    </div>
</body>

</html>