<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="/register" method="post">
        <input type="text" name="username">
        <input type="password" name="password">
        <input type="password" name="confirm">
        <button><a href="{{ url_for('google_login') }}">Sign in with Google</a></button>
        <button class="primary" type="submit">Submit</button>
    </form>
</body>
</html>